Connected Services/Servicio/trofeoDelCazadorServicio.Servicios.gestionUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
</xs:schema>