Connected Services/Servidor/dataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:ArrayOfJugador" />
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recuperarContrasenia" nillable="true" type="tns:ArrayOfrecuperarContrasenia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="ArrayOfJugador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Jugador" nillable="true" type="tns:Jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugador" nillable="true" type="tns:ArrayOfJugador" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amistad" nillable="true" type="tns:ArrayOfAmistad" />
      <xs:element minOccurs="0" name="Amistad1" nillable="true" type="tns:ArrayOfAmistad" />
      <xs:element minOccurs="0" name="Baneo" nillable="true" type="tns:ArrayOfBaneo" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Partida" nillable="true" type="tns:ArrayOfPartida" />
      <xs:element minOccurs="0" name="Partida1" nillable="true" type="tns:ArrayOfPartida" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="partidasGanadas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="partidasJugadas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="ArrayOfAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Amistad" nillable="true" type="tns:Amistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmistad" nillable="true" type="tns:ArrayOfAmistad" />
  <xs:complexType name="Amistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Jugador1" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAmistad" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador1" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amistad" nillable="true" type="tns:Amistad" />
  <xs:complexType name="ArrayOfBaneo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Baneo" nillable="true" type="tns:Baneo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaneo" nillable="true" type="tns:ArrayOfBaneo" />
  <xs:complexType name="Baneo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idBaneo" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Baneo" nillable="true" type="tns:Baneo" />
  <xs:complexType name="ArrayOfPartida">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partida" nillable="true" type="tns:Partida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartida" nillable="true" type="tns:ArrayOfPartida" />
  <xs:complexType name="Partida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Jugador1" nillable="true" type="tns:ArrayOfJugador" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idGanador" type="xs:int" />
      <xs:element minOccurs="0" name="idPartida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partida" nillable="true" type="tns:Partida" />
  <xs:complexType name="ArrayOfrecuperarContrasenia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="recuperarContrasenia" nillable="true" type="tns:recuperarContrasenia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrecuperarContrasenia" nillable="true" type="tns:ArrayOfrecuperarContrasenia" />
  <xs:complexType name="recuperarContrasenia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaExpiracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idRecuperacionContrasenia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recuperarContrasenia" nillable="true" type="tns:recuperarContrasenia" />
</xs:schema>