Connected Services/Servidor/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" />
  <xs:element name="agregarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" minOccurs="0" name="jugador" nillable="true" type="q1:Jugadorr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" minOccurs="0" name="obtenerJugadorResult" nillable="true" type="q2:Jugadorr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>