Connected Services/Servidor/trofeoDelCazadorServicio.Servicios.gestionUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/trofeoDelCazadorServicio.Servicios.gestionUsuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      <xs:element minOccurs="0" name="partidasGanadas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="partidasJugadas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
</xs:schema>