Connected Services/ServicioDelJuego/AccesoDatos.Modelo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estadistica" nillable="true" type="tns:Estadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadistica" nillable="true" type="tns:ArrayOfEstadistica" />
  <xs:complexType name="Estadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEstadisticas" type="xs:int" />
      <xs:element minOccurs="0" name="IdJugador" type="xs:int" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="NumeroVictorias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estadistica" nillable="true" type="tns:Estadistica" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="JugadorId" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFotoPerfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContraseniaHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="JugadorId" type="xs:int" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
</xs:schema>