Connected Services/ServicioDelJuego/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ImplementacionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionCuentaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioJuego" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionCuentaServicio_AgregarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugador" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_AgregarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EditarContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarContraseña" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EditarContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_ValidarInicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarInicioSesion" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_ValidarInicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarInicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_ObtenerJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugador" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_ObtenerJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EditarNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EditarNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EditarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarCorreo" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EditarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EnviarCodigoConfirmacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoConfirmacion" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_EnviarCodigoConfirmacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoConfirmacionResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_ValidarCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigo" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_ValidarCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionCuentaServicio">
    <wsdl:operation name="AgregarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/AgregarJugador" message="tns:IGestionCuentaServicio_AgregarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/AgregarJugadorResponse" message="tns:IGestionCuentaServicio_AgregarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EditarContraseña" message="tns:IGestionCuentaServicio_EditarContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EditarContraseñaResponse" message="tns:IGestionCuentaServicio_EditarContraseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarInicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/ValidarInicioSesion" message="tns:IGestionCuentaServicio_ValidarInicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/ValidarInicioSesionResponse" message="tns:IGestionCuentaServicio_ValidarInicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/ObtenerJugador" message="tns:IGestionCuentaServicio_ObtenerJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/ObtenerJugadorResponse" message="tns:IGestionCuentaServicio_ObtenerJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EditarNombreUsuario" message="tns:IGestionCuentaServicio_EditarNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EditarNombreUsuarioResponse" message="tns:IGestionCuentaServicio_EditarNombreUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EditarCorreo" message="tns:IGestionCuentaServicio_EditarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EditarCorreoResponse" message="tns:IGestionCuentaServicio_EditarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoConfirmacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EnviarCodigoConfirmacion" message="tns:IGestionCuentaServicio_EnviarCodigoConfirmacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/EnviarCodigoConfirmacionResponse" message="tns:IGestionCuentaServicio_EnviarCodigoConfirmacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/ValidarCodigo" message="tns:IGestionCuentaServicio_ValidarCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/ValidarCodigoResponse" message="tns:IGestionCuentaServicio_ValidarCodigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGestionCuentaServicio" type="tns:IGestionCuentaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionCuentaServicio_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AgregarJugador">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/AgregarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarContraseña">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/EditarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarInicioSesion">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/ValidarInicioSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugador">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/ObtenerJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarNombreUsuario">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/EditarNombreUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCorreo">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/EditarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoConfirmacion">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/EnviarCodigoConfirmacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigo">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/ValidarCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionServicio">
    <wsdl:port name="NetTcpBinding_IGestionCuentaServicio" binding="tns:NetTcpBinding_IGestionCuentaServicio">
      <soap12:address location="net.tcp://localhost:8000/ServiceImplementation/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/ServiceImplementation/Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>