Connected Services/ServicioDelJuego/ServicioJuego.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioJuego" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioJuego" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JugadorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContraseniaHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JugadorId" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFotoPerfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorDataContract" nillable="true" type="tns:JugadorDataContract" />
  <xs:complexType name="JugadorSalaEspera">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFotoPerfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorSalaEspera" nillable="true" type="tns:JugadorSalaEspera" />
  <xs:complexType name="ArrayOfJugadorSalaEspera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorSalaEspera" nillable="true" type="tns:JugadorSalaEspera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorSalaEspera" nillable="true" type="tns:ArrayOfJugadorSalaEspera" />
  <xs:complexType name="ArrayOfMatchPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchPlayer" nillable="true" type="tns:MatchPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchPlayer" nillable="true" type="tns:ArrayOfMatchPlayer" />
  <xs:complexType name="MatchPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroFotoPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchPlayer" nillable="true" type="tns:MatchPlayer" />
</xs:schema>