Connected Services/ServicioDelJuego/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ImplementacionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGestionCuentaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioJuego" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionCuentaServicio_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_AgregarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugador" />
  </wsdl:message>
  <wsdl:message name="IGestionCuentaServicio_AgregarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionCuentaServicio">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/GetData" message="tns:IGestionCuentaServicio_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/GetDataResponse" message="tns:IGestionCuentaServicio_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionCuentaServicio/AgregarJugador" message="tns:IGestionCuentaServicio_AgregarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionCuentaServicio/AgregarJugadorResponse" message="tns:IGestionCuentaServicio_AgregarJugador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGestionCuentaServicio" type="tns:IGestionCuentaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IGestionCuentaServicio_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarJugador">
      <soap12:operation soapAction="http://tempuri.org/IGestionCuentaServicio/AgregarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionServicio">
    <wsdl:port name="NetTcpBinding_IGestionCuentaServicio" binding="tns:NetTcpBinding_IGestionCuentaServicio">
      <soap12:address location="net.tcp://localhost:8000/ServiceImplementation/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/ServiceImplementation/Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>