Connected Services/ServicioDelJuego/ServicioJuego.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioJuego" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioJuego" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JugadorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContraseniaHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JugadorId" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFotoPerfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorDataContract" nillable="true" type="tns:JugadorDataContract" />
  <xs:complexType name="LobbyPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyPlayer" nillable="true" type="tns:LobbyPlayer" />
  <xs:complexType name="ArrayOfLobbyPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyPlayer" nillable="true" type="tns:LobbyPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyPlayer" nillable="true" type="tns:ArrayOfLobbyPlayer" />
</xs:schema>