Connected Services/ServicioDelJuego/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServicioJuego" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AgregarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugador" nillable="true" type="q1:JugadorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarJugadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContraseña">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaContraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContraseñaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarContraseñaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarInicioSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseniaHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarInicioSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="ValidarInicioSesionResult" nillable="true" type="q2:JugadorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="ObtenerJugadorResult" nillable="true" type="q3:JugadorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="nuevoNombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarNombreUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="nuevoCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarCorreoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoConfirmacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoConfirmacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCodigoConfirmacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIngresado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoEnviado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteCorreoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteNombreUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarContrasena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contraseniaIngresada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarContrasenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarContrasenaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvitarAmigoASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreAmigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreInvitador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvitarAmigoASalaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugador" nillable="true" type="q4:JugadorSalaEspera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugador" nillable="true" type="q5:JugadorSalaEspera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirSalaEsperaComoAnfitrion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MandarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MandarMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSalaEsperaDisponible">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSalaEsperaDisponibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarSalaEsperaDisponibleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpulsarJugadorSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpulsarJugadorSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalaEsperaCreada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalaEsperaCreadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadoresEnSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugador" nillable="true" type="q6:ArrayOfJugadorSalaEspera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadoresEnSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadorSeUnioSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugador" nillable="true" type="q7:JugadorSalaEspera" />
        <xs:element minOccurs="0" name="numeroJugadoresSalaEspera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadorSeUnioSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadorSalioSalaEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadorSalioSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarAnfritionJugadorSalioSalaEspera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarAnfritionJugadorSalioSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarIniciarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugadoresPartida" nillable="true" type="q8:ArrayOfJugadorPartida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarIniciarPartidaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalaEsperaLlena">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalaEsperaLlenaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalaEsperaNoExiste">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalaEsperaNoExisteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarExpulsadoSalaEspera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarExpulsadoSalaEsperaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPuedeIniciarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="puedeIniciar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPuedeIniciarPartidaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNombresUsuariosAmigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNombresUsuariosAmigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerListaNombresUsuariosAmigosResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEnvioSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayerSender" type="xs:int" />
        <xs:element minOccurs="0" name="usernamePlayerRequested" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEnvioSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarEnvioSolicitudAmistadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayerSender" type="xs:int" />
        <xs:element minOccurs="0" name="usernamePlayerRequested" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSolicitudAmistadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombresUsuariosSolicitantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombresUsuariosSolicitantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerNombresUsuariosSolicitantesResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarADiccionarioAmistadesEnLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuarioDeActualJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuarioJugadorRemitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioJugadorSolicitado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AceptarSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorSolicitado" type="xs:int" />
        <xs:element minOccurs="0" name="nombreUsuarioJugadorSolicitado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioJugadorRemitente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorActual" type="xs:int" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAmigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorActual" type="xs:int" />
        <xs:element minOccurs="0" name="nombreUsuarioDeActualJugador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuarioAmigoEliminado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDeDiccionarioAmistadesEnLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarNuevaSolicitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarNuevaSolicitudAmistadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSolicitudAmistadAceptada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSolicitudAmistadAceptadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarAmigoEliminado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarAmigoEliminadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioAUsuariosConectados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesregistrarUsuarioDeUsuariosEnLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarInvitacionSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreInvitador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSalaEspera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUsuarioConectado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUsuarioConectadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUsuarioDesconectado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUsuarioDesconectadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarAmigosEnLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nombresUsuariosEnLinea" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarAmigosEnLineaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpezarTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugadores" nillable="true" type="q12:ArrayOfJugadorPartida" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanzarDado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepartirCartas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TomarCartaDeMazo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCarta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCartaACartasEnMano">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="carta" nillable="true" type="q13:Carta" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TomarFichaMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idFicha" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtilizarCarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCarta" type="xs:int" />
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCartaADescarte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="carta" nillable="true" type="q14:Carta" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="jugadores" nillable="true" type="q15:ArrayOfJugadorPartida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverFichaAMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFicha" type="xs:int" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCartaAEscondite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCarta" type="xs:int" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroCartasEnMano">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroCartasEnManoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroCartasEnManoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RobarCartaAJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RobarCarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugadorObjetivoRobo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarTurnoIniciado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarTurnoIniciadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarTurnoTerminado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarTurnoTerminadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sucedio" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoAccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPartidaCreada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarPartidaCreadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoDado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoDadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartasEnMano">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="cartasRepartidas" nillable="true" type="q16:ArrayOfCarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartasEnManoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartasEnMazo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="cartasEnMazo" nillable="true" type="q17:ArrayOfCarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartasEnMazoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaTomadaMazo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCarta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaTomadaMazoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaAgregadaAMano">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="carta" nillable="true" type="q18:Carta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaAgregadaAManoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarFichaTomadaMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idFicha" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarFichaTomadaMesaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaUtilizada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCarta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaUtilizadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaAgregadaADescarte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="carta" nillable="true" type="q19:Carta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaAgregadaADescarteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarFichaDevuelta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFicha" type="xs:int" />
        <xs:element minOccurs="0" name="nombreJugadorTurnoActual" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarFichaDevueltaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaAgregadaAEscondite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCarta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaAgregadaAEsconditeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarIntentoRoboCarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarIntentoRoboCartaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaRobada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServicioJuego" minOccurs="0" name="cartaRobada" nillable="true" type="q20:Carta" />
        <xs:element minOccurs="0" name="nombreJugadorObjetivoRobo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreJugadorTurnoActual" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCartaRobadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>