Connected Services/ServicioDelJuego/ServicioJuego.Excepciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioJuego.Excepciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioJuego.Excepciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HuntersTrophyExcepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HuntersTrophyExcepcion" nillable="true" type="tns:HuntersTrophyExcepcion" />
</xs:schema>